.anchor-pane {
    -fx-font-family: Ubuntu;
}

.actionButtons {
    -fx-background-color: transparent;
    -fx-start-margin: 30px;
    -fx-cursor: hand;
}

.background { -fx-background-color: white }

.sidebar {
    -fx-background-color: #2D124B;
}

.sidebarButtons {
    -fx-background-color: #2D124B;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-font-family: Ubuntu;
    -fx-font-size: 14;
    -fx-padding: 0 0 0 16;
    -fx-cursor: hand;
}

.sidebarSelectedButton {
    -fx-background-color: white;
    -fx-background-radius: 15 0 0 15;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-font-family: Ubuntu;
    -fx-font-size: 14;
    -fx-padding: 0 0 0 16;
}

.searchField {
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-color: lightgray;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.inputField {
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-color: lightgray;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-insets: 10 20 0 0;
    -fx-background-insets: 10 20 0 0;
}

.headerText {
    -fx-fill: #FF3E15;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.table-view { -fx-background-color: transparent; }
.table-view .column-header-background {-fx-background-color: #FF3E15; }
.table-view .column-header { -fx-background-color: transparent; }
.table-view .column-header-background .label {
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-background-color: transparent;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #FF3E15;
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color: white;
}

.combo-box > .list-cell {
    -fx-padding: 0 0 0 0;
}

.logoutButton { -fx-text-fill: red; }

.blackBg-text { -fx-fill: white; }

.saveButton {
    -fx-background-color: #FF3E15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.userProfileButton {
    -fx-background-color: white;
    -fx-text-fill: #FF3E15;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-color: #FF3E15;
    -fx-border-radius: 8;
    -fx-font-size: 14;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.accordion {
    -fx-padding: 10;
}

.accordion > .titled-pane {
    -fx-text-fill: #FF3E15;
    -fx-background-color: #F8F8F8;
    -fx-background-radius: 10;
}

.accordion > .titled-pane > .title {
    -fx-padding: 12;
    -fx-background-color: #ededed;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
    -fx-background-radius: 10;
}

.accordion > .titled-pane:collapsed > .title:hover {
    -fx-background-color: #ededed;
}

.accordion > .titled-pane:collapsed > .title {
    -fx-background-color: white;
}